In [1]:
import pandas as pd

In [9]:
concept=pd.read_csv("/Users/xaviborrat/Documents/OMOP/CONCEPT_RELATIONSHIP.csv",sep="\\t",error_bad_lines=False, converters={"concept_id":str})

/Users/xaviborrat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [12]:
concept.head(50)

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
0,40230194,40236637,Brand name of,20161007,20991231,NaN
1,19071624,19126704,Brand name of,20161007,20991231,NaN
2,40244424,40244217,Brand name of,20161007,20991231,NaN
3,19126666,19126668,Brand name of,20161007,20991231,NaN
4,35837938,40228826,Maps to,20210214,20991231,NaN
5,35837939,19074909,Maps to,20210214,20991231,NaN
6,35837940,35604725,Maps to,20210214,20991231,NaN
7,35837941,40173384,Maps to,20210201,20991231,NaN
8,35837942,40173384,Maps to,20210201,20991231,NaN
9,35837943,40173388,Maps to,20210201,20991231,NaN
10,35837944,40173388,Maps to,20210201,20991231,NaN
11,35837945,40171396,Maps to,20210201,20991231,NaN
12,35837946,40223140,Maps to,20210201,20991231,NaN
13,35837947,40174776,Maps to,20210201,20991231,NaN
14,35837948,45776038,Maps to,20210214,20991231,NaN
15,35837949,1304048,Maps to,20210201,20991231,NaN
16,35837950,46287615,Maps to,20210214,20991231,NaN
17,35837951,40243436,Maps to,20210214,20991231,NaN
18,35837952,19132795,Maps to,20210201,20991231,NaN
19,35837953,40165118,Maps to,20210201,20991231,NaN
20,35837954,42800368,Maps to,20210214,20991231,NaN
21,35837955,42800368,Maps to,20210214,20991231,NaN
22,35837956,42800368,Maps to,20210214,20991231,NaN
23,35837957,19033827,Maps to,20210214,20991231,NaN
24,35837958,19033827,Maps to,20210214,20991231,NaN
25,35837959,19033827,Maps to,20210214,20991231,NaN
26,35837960,19046742,Maps to,20210214,20991231,NaN
27,35837961,19046742,Maps to,20210214,20991231,NaN
28,35837962,19036081,Maps to,20210214,20991231,NaN
29,35837963,19036081,Maps to,20210214,20991231,NaN
30,35837964,19036081,Maps to,20210214,20991231,NaN
31,35837965,42902186,Maps to,20210214,20991231,NaN
32,35837966,42902186,Maps to,20210214,20991231,NaN
33,35837967,42902221,Maps to,20210214,20991231,NaN
34,35837968,42902221,Maps to,20210214,20991231,NaN
35,35837969,42902221,Maps to,20210214,20991231,NaN
36,35837970,42902222,Maps to,20210214,20991231,NaN
37,35837971,42902222,Maps to,20210214,20991231,NaN
38,35837972,42902222,Maps to,20210214,20991231,NaN
39,35837973,42898301,Maps to,20210214,20991231,NaN
40,35837974,42898301,Maps to,20210214,20991231,NaN
41,35837975,40229103,Maps to,20210214,20991231,NaN
42,35837976,40229103,Maps to,20210214,20991231,NaN
43,35837977,40221822,Maps to,20210201,20991231,NaN
44,35837978,42801088,Maps to,20210214,20991231,NaN
45,35837979,42801088,Maps to,20210214,20991231,NaN
46,35837980,40162311,Maps to,20210201,20991231,NaN
47,35837981,40222881,Maps to,20210201,20991231,NaN
48,35837982,40222881,Maps to,20210201,20991231,NaN
49,35837983,40224399,Maps to,20210214,20991231,NaN

In [8]:
# List all vacabularies in concepts
concept["vocabulary_id"].unique()

array(['CDM', 'Concept Class', 'Condition Status', 'Condition Type',
       'Cost', 'Cost Type', 'Death Type', 'Device Type', 'Domain',
       'Drug Type', 'Episode', 'Korean Revenue Code', 'LOINC',
       'Meas Type', 'Metadata', 'None', 'Note Type', 'OSM',
       'Obs Period Type', 'Observation Type', 'Plan', 'Plan Stop Reason',
       'Procedure Type', 'Relationship', 'SNOMED', 'SOPT', 'Sponsor',
       'Type Concept', 'UB04 Point of Origin', 'UB04 Pri Typ of Adm',
       'UB04 Pt dis status', 'UB04 Typ bill', 'UCUM', 'US Census',
       'Visit', 'Visit Type', 'Vocabulary'], dtype=object)

In [9]:
# Select only snomed and loinc vocabularies
concept=concept[(concept["vocabulary_id"]=='LOINC')|(concept["vocabulary_id"]=='SNOMED')]

In [10]:
#concept_id: omop concept_id
#vocabulary_id: concept_id based on specific common vocabulary: i.e. LOINC, SNOMED.

concept.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
1782,3003257,Time until next menstrual period,Observation,LOINC,Clinical Observation,S,10632-8,19961210,20991231,None
1783,3003539,Microscopic observation [Identifier] in Tissue...,Measurement,LOINC,Lab Test,S,10776-3,19700101,20991231,None
1784,3015273,Consistency of Stool,Measurement,LOINC,Lab Test,S,11029-6,19700101,20991231,None
1785,3038183,Appearance of Spun Body fluid,Measurement,LOINC,Lab Test,S,11134-4,19700101,20991231,None
1786,3035064,Deprecated Creatinine,Measurement,LOINC,Lab Test,NaN,11214-4,20110316,20110317,D

In [31]:
# Read mimic-omop  Table

#concept_name: mimic itemid label
#concept_code: mimic itemid
#target_concept_id: omop concept_id



def read_merge(table_name):
    dataframe=pd.read_csv(table_name,converters={"target_concept_id":str})
    merged=dataframe.merge(concept, how='left',left_on="target_concept_id", right_on="concept_id")
    merged.to_csv("xavi_{}".format(table_name))
    return merged


def read_merge_output(table_name):
    dataframe=pd.read_csv(table_name,converters={"omop_conceptid":str})
    merged=dataframe.merge(concept, how='left',left_on="omop_conceptid", right_on="concept_id")
    merged.to_csv("xavi_{}".format(table_name))
    return merged

def read_merge_abdulra(table_name):# merges with abdulrahman suggestion
    dataframe=pd.read_csv(table_name,converters={"suggestion":str})
    merged=dataframe.merge(concept, how='left',left_on="suggestion", right_on="concept_id")
    merged.to_csv("adbulra_{}".format(table_name))
    return merged


proc_datetime=read_merge_abdulra('gcpt_proc_datetimeevents.csv')
proc_itemid=read_merge_abdulra('gcpt_proc_itemid.csv')


#main=read_merge('gcpt_meas_chartevents_main.csv')
output=read_merge_output('outputevents_to_loinc.csv')
value=read_merge('gcpt_meas_chartevents_value.csv')
proc_datetime=read_merge('gcpt_proc_datetimeevents.csv')
proc_itemid=read_merge('gcpt_proc_itemid.csv')

'''
outputevents_to_loinc 
gcpt_meas_chartevents_value
gcpt_proc_datetimeevents
gcpt_proc_itemid'''

'\noutputevents_to_loinc \ngcpt_meas_chartevents_value\ngcpt_proc_datetimeevents\ngcpt_proc_itemid'

In [12]:
gcpt_d.head()

,concept_name,source_concept_id,source_vocabulary_id,source_domain_id,source_concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,target_concept_id,Unnamed: 11,relationship_id,reverese_relationship_id,relationship_valid_start_date,relationship_end_date,invalid_reason_cr
0,Heart Rate,2000030001,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220045,1/1/1970,12/31/2099,NaN,3027018,NaN,Maps to,Mapped from,1/1/1970,12/31/2099,NaN
1,Respiratory Rate,2000030002,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220210,1/1/1970,12/31/2099,NaN,3024171,NaN,Maps to,Mapped from,1/1/1970,12/31/2099,NaN
2,O2 saturation pulseoxymetry,2000030003,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220277,1/1/1970,12/31/2099,NaN,40762499,NaN,Maps to,Mapped from,1/1/1970,12/31/2099,NaN
3,Heart Rhythm,2000030004,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220048,1/1/1970,12/31/2099,NaN,3022318,NaN,Maps to,Mapped from,1/1/1970,12/31/2099,NaN
4,Non Invasive Blood Pressure systolic,2000030005,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220179,1/1/1970,12/31/2099,NaN,21492239,NaN,Maps to,Mapped from,1/1/1970,12/31/2099,NaN

In [13]:
# Merge mimic table to vocabularies table

merged=gcpt_d.merge(concept, how='left',left_on="target_concept_id", right_on="concept_id")

In [17]:
#Select the final columns 

merged[['concept_name_x', 'source_concept_id', 'source_vocabulary_id',
       'source_domain_id', 'source_concept_class_id',
       'concept_code_x', 
       'invalid_reason_x', 'target_concept_id',
       'concept_id', 'domain_id',
       'vocabulary_id', 'concept_class_id', 'standard_concept_y',
       'concept_code_y']]

merged.to_csv("xavi_review.csv")

In [18]:
merged.head()

,concept_name_x,source_concept_id,source_vocabulary_id,source_domain_id,source_concept_class_id,standard_concept_x,concept_code_x,valid_start_date_x,valid_end_date_x,invalid_reason_x,...,concept_id,concept_name_y,domain_id,vocabulary_id,concept_class_id,standard_concept_y,concept_code_y,valid_start_date_y,valid_end_date_y,invalid_reason_y
0,Heart Rate,2000030001,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220045,1/1/1970,12/31/2099,NaN,...,3027018,Heart rate,Measurement,LOINC,Clinical Observation,S,8867-4,19700101.0,20991231.0,None
1,Respiratory Rate,2000030002,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220210,1/1/1970,12/31/2099,NaN,...,3024171,Respiratory rate,Measurement,LOINC,Clinical Observation,S,9279-1,19960906.0,20991231.0,None
2,O2 saturation pulseoxymetry,2000030003,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220277,1/1/1970,12/31/2099,NaN,...,40762499,Oxygen saturation in Arterial blood by Pulse o...,Measurement,LOINC,Clinical Observation,S,59408-5,20100414.0,20991231.0,None
3,Heart Rhythm,2000030004,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220048,1/1/1970,12/31/2099,NaN,...,3022318,Heart rate rhythm,Measurement,LOINC,Clinical Observation,S,8884-9,19700101.0,20991231.0,None
4,Non Invasive Blood Pressure systolic,2000030005,mimiciv_meas_chart,Measurement,Clinical Observation,NaN,220179,1/1/1970,12/31/2099,NaN,...,21492239,Systolic blood pressure by Noninvasive,Measurement,LOINC,Clinical Observation,S,76534-7,20160624.0,20991231.0,None